@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Summary for HipChat</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="dist/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>

    <!-- Header -->
    <section id="header">
        <div class="inner">
            <span class="icon major">
                <img src="dist/img/icon.png" />
            </span>
            <h1>
                Generate <strong>beautiful, understandable</strong><br />
                summary of your Hipchat room. <br/>
                Try it from <a target="_blank" href="https://marketplace.atlassian.com/plugins/me.dipanjan.pulse">Atlassian Marketplace</a>
            </h1>
            <p>
                <strong>/report</strong> to visualize Entity, Concepts, Keywords and more
            </p>
            <ul class="actions">
                <li><a href="#one" class="button scrolly">Discover</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="main style1">
        <div class="container">
            <div class="row 150%">
                <div class="6u 12u$(medium)">
                    <header class="major">
                        <h2>
                            Quickly view a summary of your <br /> room
                            simply with <strong>/report</strong>
                        </h2>
                    </header>
                    <p>Summary For Hipchat generate beautiful and understandable chart,graphs of
                     what is going on in your HipChat room. Simply hit /report to generate an up-to-date
                    summary of your room.</p>
                </div>
                <div class="6u$ 12u$(medium) important(medium)">
                    <span class="image fit"><img src="dist/img/pic01.png" alt="" /></span>
                </div>
            </div>
        </div>
    </section>

    <!-- Two -->
    <!-- Three -->
    <section id="three" class="main style1 special">
        <div class="container">
            <header class="major">
                <h2>Features at a glance</h2>
            </header>
            <p>Understan your room better.</p>
            <div class="row 150%">
                <div class="4u 12u$(medium)">
                    <span class="image fit"><img src="dist/img/pic02.png" alt="" /></span>
                    <h3>Temporal analysis of Entity Types</h3>
                    <p>Learn about a topic in a time frame. Understand the popularity of a topic over a period of time.</p>
                    
                </div>
                <div class="4u 12u$(medium)">
                    <span class="image fit"><img src="dist/img/pic03.png" alt="" /></span>
                    <h3>Learn Concepts talked in the room</h3>
                    <p>Understand high level concepts about the room conversations.</p>
                    <ul class="actions">
                        <li><a target="_blank" href="https://marketplace.atlassian.com/plugins/me.dipanjan.pulse" class="button">Download <span class="right fa fa-download"></span></a></li>
                    </ul>
                </div>
                <div class="4u$ 12u$(medium)">
                    <span class="image fit"><img src="dist/img/pic04.png" alt="" /></span>
                    <h3>Glimpse of keywords talked about</h3>
                    <p>Retrieve the keywords which are discussed in the room.</p>
                    
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="icon alt fa-sign-in"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon alt fa-download"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; <a href="https://dipanjan.me" target="_blank">Dipanjan Nag</a> </li>
        </ul>
    </section>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="dist/js/jquery.scrolly.min.js"></script>
    <script src="dist/js/skel.min.js"></script>
    <script src="dist/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="dist/js/main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</body>
</html>